<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">company code</th>
        <th scope="col">stock exchange</th>
        <th scope="col">brief</th>
        <th scope="col">operation</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>666</td>
        <td>BSE</td>
        <td>brief</td>
        <td>
          <button type="button" class="btn btn-primary">edit</button>
        </td>
      </tr>
      <tr *ngFor="let company of companys; index as i">
        <td>{{ i + 1 }}</td>
        <td>{{ company.code }}</td>
        <td>{{ company.stock }}</td>
        <td>{{ company.brief }}</td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>
