<div class="div-signup">
  <form class="form-signup" #myForm="ngForm" novalidate>
    <h1 class="h3 mb-3 font-weight-normal">sign up</h1>

    <label for="inputUsername" class="">Username</label>
    <input ngModel name="name" type="text" id="inputUsername" class="form-control" placeholder="UserName">

    <label for="inputPassword">Password</label>
    <input ngModel name="password" type="password" id="inputPassword" class="form-control" placeholder="Password" >
    <label for="re-Password">Confirm Password</label>
    <input ngModel name="re-password" type="password" id="re-Password" class="form-control" placeholder="Password" >

    <label for="inputEmail">Email</label>
    <input ngModel name="email" type="email" id="inputEmail" class="form-control" placeholder="email" >

    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>

  </form>
</div>
