<div class="container">
  <div class="card m-3 shadow">
    <h5 class="card-header">Add new Company</h5>
    <div class="card-body">
      <form>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="companyname">Company Name</span>
          </div>
          <input type="text" class="form-control" placeholder="Company Name" aria-label="Company Name" aria-describedby="companyname">
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="companycode">Company Code</span>
          </div>
          <input type="text" class="form-control" placeholder="Company Code" aria-label="Company Code" aria-describedby="companycode">
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="turnover">Turnover</span>
          </div>
          <input type="text" class="form-control" placeholder="Turnover" aria-label="Amount" aria-describedby="turnover">
          <div class="input-group-append">
            <span class="input-group-text">.00</span>
          </div>
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="ceo">CEO</span>
          </div>
          <input type="text" class="form-control" placeholder="CEO" aria-label="CEO" aria-describedby="ceo">
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="directors">Board of Directors</span>
          </div>
          <input type="text" class="form-control" placeholder="Board of Directors" aria-label="Board of Directors" aria-describedby="directors">
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text" for="stockexchange">Stock Exchange</label>
          </div>
          <select class="custom-select" id="stockexchange">
            <option selected></option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text" for="sector">Sector</label>
          </div>
          <select class="custom-select" id="sector">
            <option selected></option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="brief">Brief</span>
          </div>
          <textarea class="form-control" ria-label="Brief"></textarea>
        </div>
        <div class="row">
          <div class="col-md-10">
            <button type="submit" class="btn btn-primary mr-3">Update</button>
          </div>
          <div class="col-md-2">
            <button type="submit" class="btn btn-primary ml-3">Back</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
