
<div class="p-5">
  <ul ngbNav #nav="ngbNav" class="navbar navbar-expand-md nav-pills navbar-dark fixed-top bg-dark">
    <div class="container">
      <div class="mr-5">
        <li ngbNavItem>
          <a class="navbar-brand" href="#">Stock</a>
        </li>
      </div>
      <div class="collapse navbar-collapse">
        <li ngbNavItem *ngIf="true">
          <a ngbNavLink [routerLink]="['importdata']">ImportData</a>
        </li>
        <li ngbDropdown class="nav-item" *ngIf="true">
          <a href (click)="false" class="nav-link" ngbDropdownToggle>Manage Company</a>
          <div ngbDropdownMenu>
            <button ngbDropdownItem [routerLink]="['company/list-company']">list company</button>
            <button ngbDropdownItem [routerLink]="['company/add-company']">add company</button>
          </div>
        </li>
        <li ngbNavItem *ngIf="true">
          <a ngbNavLink [routerLink]="['list-company']">Company Search</a>
        </li>
        <li ngbNavItem *ngIf="true">
          <a ngbNavLink [routerLink]="['chart/company-compare']">Compare Company</a>
        </li>
        <li ngbNavItem *ngIf="true">
          <a ngbNavLink [routerLink]="['chart/sector-compare']">Compare Sector</a>
        </li>
        <li ngbNavItem *ngIf="true">
          <a ngbNavLink [routerLink]="['profiles']">Update Profiles</a>
        </li>
      </div>
      <div>
        <li ngbNavItem class="ml-auto">
          <a ngbNavLink>log out</a>
        </li>
      </div>
    </div>
  </ul>
</div>
