
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand">Stock Market</a>
  <a class="navbar-brand" [routerLink]="['/admin/importdata']">Import Data</a>
  <a class="navbar-brand" [routerLink]="['/admin/importdata']">Manage Company</a>
  <a class="navbar-brand" [routerLink]="['/admin/importdata']">Company Search</a>
  <a class="navbar-brand" [routerLink]="['/admin/importdata']">Compare Company</a>
  <a class="navbar-brand" [routerLink]="['/admin/importdata']">Compare Sector</a>
  <a class="navbar-brand" [routerLink]="['/admin/importdata']">update Profiles</a>
</nav>