<div class="container">
  <div class="card m-3 shadow">
    <h5 class="card-header">Compare Company</h5>
    <div class="card-body">
      <form>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="company">Company</span>
          </div>
          <input type="text" class="form-control" placeholder="Company Name" aria-label="Company Name" aria-describedby="companyname">
        </div>
        <button type="button" class="btn btn-primary mb-3">add company</button>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text" for="stockexchange">Stock Exchange</label>
          </div>
          <select class="custom-select" id="stockexchange">
            <option selected></option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
        <div class="form-row">
          <div class="col-md-6 mb-3">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="fromperiod">from period</span>
              </div>
              <input type="text" class="form-control" placeholder="from period" aria-label="from period" aria-describedby="fromperiod">
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="toperiod">to period</span>
              </div>
              <input type="text" class="form-control" placeholder="to period" aria-label="to period" aria-describedby="toperiod">
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="specifyperiodcity">specify periodcity</span>
          </div>
          <input type="text" class="form-control" placeholder="specify periodcity" aria-label="specify periodcity" aria-describedby="specifyperiodcity">
        </div>
        <button type="submit" class="btn btn-primary mb-3">generate chart</button>
      </form>
    </div>
  </div>
</div>
