<div class="container">
  <div class="card m-3">
    <h5 class="card-header">Import Excel Data</h5>
    <div class="card-body">
      <form>
        <div class="form-group">
          <label for="uploadedfile">Selcet Excel file to be uploaded:</label>
          <input type="file" class="form-control-file" id="uploadedfile">
          <a>
            <u>click here to download template</u>
          </a>
        </div>
        <button type="submit" class="btn btn-primary">upload</button>
      </form>
    </div>
  </div>
  <div class="card m-3">
    <h5 class="card-header">Summary of Upload</h5>
    <div class="card-body">
      <div>
        <label>Company Name:</label>
        <label>Email</label>
      </div>
      <div>
        <label>Stock Exchange:</label>
        <label>Stock Exchange</label>
      </div>
      <div>
        <label>Import Number:</label>
        <label>Import Number</label>
      </div>
      <div>
        <label>From Date:</label>
        <label>From Date</label>
      </div>
      <div>
        <label>To Date:</label>
        <label>To Date</label>
      </div>
    </div>
  </div>
</div>