<div class="container">
  <div class="card m-3 shadow">
    <h5 class="card-header">Update user profiles</h5>
    <div class="card-body">
      <p class="card-text">details:</p>
      <form>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="username">Username</span>
          </div>
          <input type="text" class="form-control">
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="password">Password</span>
          </div>
          <input type="text" class="form-control">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Re-enter Password">
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="role">Role</span>
          </div>
          <input type="text" class="form-control" readonly>
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="email">Email</span>
          </div>
          <input type="text" class="form-control">
        </div>
        <div class="form-row">
          <div class="col-md-10">
            <button type="submit" class="btn btn-primary mr-3">Submit</button>
            <button type="button" class="btn btn-primary mr-3">Back</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
