<div class="container">
  <div class="card m-3 shadow">
    <h5 class="card-header">User profiles</h5>
    <div class="card-body">
      <div class="card-body">
        <div>
          <label>username:</label>
          <label>username</label>
        </div>
        <div>
          <label>role:</label>
          <label>role</label>
        </div>
        <div>
          <label>email:</label>
          <label>email</label>
        </div>
        <div>
          <button type="button" class="btn btn-primary">Update profiles</button>
        </div>
      </div>
    </div>
  </div>
</div>
